/* You can add global styles to this file, and also import other style files */
h1{
    color: lime;
    text-decoration: underline;
    text-transform: uppercase
}

#logo{
    border: 1px solid #CCC
}