<article class="row">
  <div class="col">
    <label>Dime tu nombre: </label>
    <input type="text" [(ngModel)]="sNombre" />

    <label><input type="checkbox" [(ngModel)]="isSpanish" /> Idioma</label>
    <button (click)="sNombre=''">Borrar</button>
    <button (click)="btnBorrar($event)">Borrar funcion</button>

  </div>
  <div class=col-6>
    <p>
      Hola {{sNombre.toUpperCase()}}
    </p>
  </div>
  <div class=col-6>
      <h2>Expresiones</h2>
      <p>El producto de * 4 es: {{nNumber * 4}} </p>
      <p>{{isSpanish?'Gracias':'Thanks'}}</p>
    </div>
</article>
