/* You can add global styles to this file, and also import other style files */
.error-message{ color: red; font-weight: bold; font-size: 0.8em; font-style: italic; padding-bottom: 10px; display: block;
padding-left: 50px;}